* {
    margin: 0;
    padding: 0;
}
li {
    float: left;
    list-style-type: none;
    margin: 5px 0 0 5px;
}
li div {
    padding: 0 5px;
}

.container {
    width: 300px;
    line-height: 25px;
    margin-right: auto;
    margin-left: auto;
}

.item {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.name {

}